# InfluxDB Config
INFLUX_URL=<your_url_here>
INFLUX_TOKEN=<your_token_here>
INFLUX_ORG=<your_org_here>
INFLUX_BUCKET=<your_bucket_here>

# Server Config
SERVER_PORT=<your_port_here>

# MQTT Config
MQTT_BROKER=<your_broker_here>
MQTT_PORT=<your_port_here>
MQTT_TOPIC=<your_topic_here>